@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Reset default styles and set font-family */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-brand {
  flex: 1;
  padding: 1px;
}

.navbar-items {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-items.active {
  display: flex; /* Display the navigation menu when 'active' class is applied */
  flex-direction: column;
}

.navbar-items li {
  margin: 10px; /* Changed the left margin for both desktop and mobile views */
}

.navbar-items li a {
  color: #fff;
  text-decoration: none;
}

.toggle-button {
  display: block; /* Show the toggle button for both desktop and mobile views */
  font-size: 24px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

#main-content {
  padding: 15px;
}

/* Media query for desktop view */
@media screen and (min-width: 768px) {
  .navbar-items {
    display: flex;
    justify-content: flex-end;
  }

  .toggle-button {
    display: none; /* Hide the toggle button for larger screens */
  }
}
