@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body{ font-family:"Poppins",sans-serif;}
/* Basic styling for header and navigation */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
}

#navigation {
  display: flex; /* Display the navigation links horizontally on desktop */

}
.toggle-btn{
  display: none;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display the navigation links horizontally on mobile */
}

#navigation li {
  margin-right: 10px;
}

#navigation a {
  color: #fff;
  text-decoration: none;
}

/* Mobile Navigation */
@media (max-width: 768px) {
  #navigation {
    flex-direction: column; /* Display the navigation links vertically on mobile */
    display: none; /* Hide the navigation by default on mobile */
  }

  #navigation.show {
    display: flex; /* Show the navigation when the "show" class is added */
  }

  #navigation li {
    margin-bottom: 5px; /* Add spacing between list items on mobile */
  }

  .toggle-btn {
    display: block;
    position: absolute; /* Add absolute positioning to the toggle button */
    top: 10px; /* Adjust top position to vertically center the button */
    right: 10px; /* Align the button to the right side */
    font-size: 2rem;
  }
}

header {
  background-color: #333;
  padding: 20px;
}

.headder {
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}


.sub-heading {
  color: #007bff;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
